.about{
  display: flex;
  justify-content: space-between;
}
.article{

width: 50%;
}
.content{
  font-size: 30px;
  text-align: center;
}
.about {
& img{
  margin: 0;
}
}
h1{
  //background:rgba(17, 17, 17,0);
}
.tilt{
  width: 50%;
}