.itemList:hover{
  text-shadow:
          0 0 2px limegreen,
          0 0 6px limegreen,
          0 0 36px limegreen,
          0 0 56px limegreen,
          0 0 16px limegreen;

}
header{
  display:flex;
  justify-content: space-between;
}
nav{
  display: flex;
}