.footer ul {
  font-size: 40px;
  justify-content: space-around;
}
.footer ul svg {
height: 40px  ;
  justify-content: space-around;
}
.footer ul img {
  height: 40px  ;
  justify-content: space-around;
}
.footer{
  margin-bottom: 50px;
}