ul{
  display: flex;

}

.listItem {
  display: flex;
  margin-left: 20px;
  justify-content: space-between;

}
.listItem svg{
   background: transparent;
   height: 25px  ;
   width: 100%;
   fill:#fff;
 }
.socials li {
  display: flex;}

 .listItem a{
  margin-left: 5px;
}

.listItem img, {
  height: 25px;
  width: 100%;
  background: white;
  border-radius: 30px;
}
.listItem:hover {
  a {
    color: black;
    text-shadow: 0 0 2px #bc13fe,
    0 0 6px #bc13fe,
    0 0 36px #bc13fe,
    0 0 56px #bc13fe,
    0 0 16px #bc13fe;
    transition: 0.5s;
  }

  svg {
    fill: black;
    transition: 0.5s;
    filter: drop-shadow(-.75px 0px 10px #bc13fe) drop-shadow(-.75px 0px 6px #bc13fe);
  }

  img{
   background: transparent;
    filter: drop-shadow(-.75px 0px 10px #bc13fe) drop-shadow(-.75px 0px 6px #bc13fe);
    transition: 0.5s;
  }
}
.listItem:nth-child(2):hover{
   a {
     color: black;
     text-shadow:
             0 0 2px #34dfeb,
     0 0 6px #34ebb7,
             0 0 12px #34dfeb,
     0 0 36px #34dfeb,
     0 0 56px #34dfeb,
     0 0 16px #34dfeb;

   }

   img {
     background: transparent;
     filter: drop-shadow(-.75px 0px 10px #34dfeb) drop-shadow(-.75px 0px 6px #34dfeb)
     drop-shadow(-.75px 0px 1px #34dfeb);
     transition: 0.5s;
   }
 }
.listItem:nth-child(3):hover{
  a {
    color: black;
    text-shadow:

            0 0 2px #3452eb,
            0 0 6px #3452eb,
            0 0 12px #3452eb,
            0 0 36px #3452eb,
            0 0 56px #3452eb,
            0 0 16px #3452eb;
  }

  img {
    background: transparent;
    filter: drop-shadow(-.75px 0px 10px #3452eb) drop-shadow(-.75px 0px 6px #3452eb)
    drop-shadow(-.75px 0px 1px #3452eb);
    transition: 0.5s;
  }
}
.listItem:nth-child(4):hover{
  a {
    color: black;
    text-shadow:

            0 0 2px #eb4634,
            0 0 6px #eb4634,
            0 0 12px #eb4634,
            0 0 36px #eb4634,
            0 0 56px #eb4634,
            0 0 16px #eb4634;
  }

  img {
    background: transparent;
    filter: drop-shadow(-.75px 0px 10px #eb4634) drop-shadow(-.75px 0px 6px #eb4634)
    drop-shadow(-.75px 0px 1px #eb4634);
    transition: 0.5s;
  }
}
