.rainbow{
  animation: rainbow 15s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow{
  100%,0%{
    color: rgb(255,0,0);
    fill: rgb(255,0,0);
    filter: drop-shadow(0px 0px 7px red) drop-shadow(0px 0px 5px red)
  }
  8%{
    color: rgb(255,127,0);
    fill: rgb(255,127,0);
    filter: drop-shadow(0px 0px 7px rgb(255,127,0)) drop-shadow(0px 0px 5px rgb(255,127,0));
  }
  16%{
    color: rgb(255,255,0);
    fill: rgb(255,255,0);
    filter: drop-shadow(0px 0px 7px rgb(255,255,0))  drop-shadow(0px 0px 5px rgb(255,255,0));
  }
  25%{
    color: rgb(127,255,0);
    fill: rgb(127,255,0);
    filter: drop-shadow(0px 0px 7px rgb(127,255,0)) drop-shadow(0px 0px 5px  rgb(127,255,0))
  }
  33%{
    color: rgb(0,255,0);
    fill: rgb(0,255,0);
    filter: drop-shadow(0px 0px 7px rgb(0,255,0)) drop-shadow(0px 0px 5px rgb(0,255,0))
  }
  41%{
    color: rgb(0,255,127);
    fill: rgb(0,255,127);
    filter: drop-shadow(0px 0px 7px  rgb(0,255,127)) drop-shadow(0px 0px 5px  rgb(0,255,127))
  }
  50%{
    color: rgb(0,255,255);
    fill: rgb(0,255,255);
    filter: drop-shadow(0px 0px 7px  rgb(0,255,255))  drop-shadow(0px 0px 5px  rgb(0,255,255))
  }
  58%{
    color: rgb(0,127,255);
    fill: rgb(0,127,255);
    filter: drop-shadow(0px 0px 7px  rgb(0,127,255))  drop-shadow(0px 0px 5px  rgb(0,127,255))
  }
  66%{
    color: rgb(0,0,255);
    fill: rgb(0,0,255);
    filter: drop-shadow(0px 0px 7px rgb(0,0,255)) drop-shadow(0px 0px 5px rgb(0,0,255))
  }
  75%{
    color: rgb(127,0,255);
    fill: rgb(127,0,255);
    filter: drop-shadow(0px 0px 7px rgb(127,0,255)) drop-shadow(0px 0px 5px rgb(127,0,255))
  }
  83%{
    color: rgb(255,0,255);
    fill: rgb(255,0,255);
    filter: drop-shadow(0px 0px 7px rgb(255,0,255)) drop-shadow(0px 0px 5px rgb(255,0,255))
  }
  91%{
    color: rgb(255,0,127);
    fill: rgb(255,0,127);
    filter: drop-shadow(0px 0px 7px  rgb(255,0,127)) drop-shadow(0px 0px 5px  rgb(255,0,127))
  }
}