@import './assets/animations';
*{
  scroll-behavior: smooth;
  background: #000;
  color: white;
}
img{
  width: 100%;
  margin-left: 5px;
}
svg{
  margin-left: 5px;
}
h1{
  font-size: 45px;
}
h2{
  font-family: Poppins, sans-serif;
  font-size: 45px;
  font-weight: 800;
  display: block;
  text-align: center;

}
ul{
list-style: none;
}
body{margin-left: auto; margin-right: auto ;
  font-size: 20px;
  width: 1200px;
}
a{
  display: flex;
  text-decoration: none;
  vertical-align: bottom;
  font-weight: 500;
}

section{
  margin-top: 100px;
}


.container{
  margin-right: 50px;
  margin-left: 50px;
}



